.App {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 520px;
  position: relative;
}
.output {
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  line-height: 40px;
  font-size: 32px;
}
.button {
  border: 1px solid;
  width: 24%;
  margin: 1px;
  background-color: gray;
  font-size: 64px;
  outline: none;
}
button:active {
  box-shadow: gray;
  background-color: white;
}
.buttonsContainer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
